@model EducationWebApplication.Models.Rating

<h2>Add Course Rating</h2>
<br />
<form asp-action="AddRating" method="post">
    <div class="form-group">
        <label asp-for="CourseName" class="control-label col-md-2"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="RatingValue" class="control-label col-md-2"></label>
        <input asp-for="RatingValue" class="form-control" />
        <span asp-validation-for="RatingValue" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="RatingDescription" class="control-label col-md-2"></label>
        <input asp-for="RatingDescription" class="form-control" />
        <span asp-validation-for="RatingDescription" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Add Rating</button>
        </div>
    </div>
</form>
