@{
    ViewData["Title"] = "Search";
}
<h1>Search for a Course</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" id="SearchPhrase" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to Courses</a>
</div>
@section scripts{
<script>
$(document).ready(function () {
    $("#SearchPhrase").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Courses/SearchSuggestions",
                data: { searchString: request.term },
                success: function (data) {
                    response(data);
                }
            });
        },
        minLength: 2
    });
});
</script>
}
