@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/images/EduLogo.png" alt="Logo aplicatie Edu"/>
    <p>This is the only application that you will need to learn about some of your favorite school subjects.</p>
    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Courses" asp-action="Index">Start Learning</a>
</div>
